<svg class="icon-bag" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Bag</title>{% render 'icons' with 'icon-bag' %}</svg>
<div class="text-12 leading-6 text-center font-unis font-bold">{%- if cart == empty -%}0{%- elsif cart.item_count < 100 -%}{{ cart.item_count }}{%- endif -%}</div>
<span class="visually_hidden">{{ 'templates.cart.cart' | t }}</span>
<span class="visually_hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>