{%- liquid
    assign product_num = shop.metafields.custom.homepage_product_list.value.count
    assign product_list = shop.metafields.custom.homepage_product_list.value
    if section.settings.products_to_show > product_num
      assign product_cap = product_num
    else
      assign product_cap = section.settings.products_to_show
    endif
-%}

<div class="overflow-hidden my-20 md:my-30">
  <div class="relative mx-1 md:mx-4" x-intersect="$el.classList.add('scrollleft', 'ease-sysum')">
    {%- if section.settings.title == '""' -%}
      <div class="mb-3 md:mb-4 text-left">
        <div class="h3 text-label">{{ section.settings.title | escape }}</div>
      </div>
    {%- endif -%}
    <div 
      class="w-CM6 md:w-CD12"
      x-data="slider({ slideCount: {{ product_cap }}, deskScroll: true, hasPadding: true })" 
      x-ref="carouselView" 
      x-init="sliderInit()">
      
      <div x-ref="carouselItem" class="absolute h-0 w-CM2 md:w-CD2 pr-1 box-content">&nbsp;</div>
      <ul
        class="flex gap-1 w-full transition-transform ease-linear transform-gpu cursor-grab"
        role="list"
        aria-label="{{ 'general.slider.name' | t }}"
        x-ref="carousel"
        @touchstart="press" @touchmove="slide" @touchend="release" @touchcancel="leave" @mousedown.prevent="press" @mousemove="slide" @mouseup="release" @mouseleave="leave" @click="click"
      >
        {%- for product in product_list limit: product_cap -%}
          <li class="flex-1">
            {% render 'card-product-simple',
              card_product: product,
              show_vendor: section.settings.show_vendor,
              lazy_load: true,
              section_id: section.id
            %}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
