
<div class="grid_ pt-2 mb-8 md:pt-3 md:mb-10">
  <div class="col-span-full md:col-start-5 md:col-span-5 mx-1 md:mx-0">
    <h1 class="mb-5 md:mb-10">
      {{ page.title | escape }}
    </h1>
    <div>
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [

  ]
}
{% endschema %}
