<div x-intersect="$el.classList.add('scrollfadein', 'ease-sysum')">
  <div class="grid_ gap-y-4 md:gap-y-5 my-20 md:my-30">
    <div class="text-black font-sysum tracking-normal text-20 md:text-24 leading-7 md:leading-9  col-start-1 col-span-full md:col-start-2 md:col-span-7 lg:col-start-2 lg:col-span-6 mx-1 md:mx-0">{{ section.settings.content }}</div>
    <div class="col-start-1 md:col-start-2 col-span-full mx-1 md:mx-0"><a class="primary" href="{{ section.settings.link_url }}">{{ section.settings.link_label }}</a></div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.rich-text.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "text",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "link_label",
      "label": "Link label"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link Url"
    }
  ],
  "presets": [
    {
      "name": "Text Banner"
    }
  ]
}
{% endschema %}